@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
  padding: 0.5em 0;
}

ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2em;
}

ul a:hover {
  color: black;
}

p {
  text-align: center;
}

h4 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.c-blanco {
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-shadow: 5px 4px black;
  margin-top: 3rem;
}

h2 {
  font-size: 2rem;
  text-shadow: 5px 4px black;
}

p {
  font-size: 1.7em;
}

@media (min-width: 640px) {
  li {
    font-size: 1.3rem;
  }
}
.banner {
  height: 60vh;
}

.fondoG {
  background: linear-gradient(to right, #280e3c, #3ab5bb);
}

body {
  font-family: "Staatliches", cursive;
  color: white;
  background-image: url(../images/fondoAnimado.png);
}

#icono {
  font-size: 2em;
  padding-left: 0.7em;
}

.tamañoSeccionTitulo {
  height: 65vh;
}

.seccionIniciar {
  padding-top: 15px;
  gap: 25px;
  justify-content: center;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 1fr 1fr;
}
.seccionIniciarArticulos {
  width: 100%;
  background-size: cover;
}
.seccionIniciarArticulos:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  box-shadow: 10px 10px 10px black;
}

.cuerpoIndexSegSecc {
  grid-area: seccdosIndex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.divImagenRangos {
  background-image: url(../images/rangos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 60vh;
  width: 90%;
  opacity: 0.8;
}

.cuerpoIndexTerSecc {
  grid-area: secctresIndex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.divImagenNuevo {
  background-image: url(../images/valorant.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 50%;
  border: 2px solid rgb(55, 132, 177);
  animation: movimientoNuevo 4s linear 1s infinite normal;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

@keyframes movimientoNuevo {
  0% {
    left: 0px;
    right: 0px;
  }
  50% {
    margin-left: 100px;
    right: 0px;
  }
  100% {
    left: 0px;
    right: 0px;
  }
}
#nav2 {
  display: none;
  background-color: lightblue;
}

#bannerCsgo {
  width: 100%;
  background-image: url(../images/bannerCsgo.jpg);
  background-size: cover;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

.seccionMapas {
  display: grid;
  width: 90vw;
  gap: 25px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.seccionMapas img {
  width: 100%;
  border: 1px solid beige;
  border-radius: 50px;
}
.seccionMapas img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  box-shadow: 10px 10px 10px rgb(110, 169, 218);
}

#imgPosCsgo {
  background-image: url(../images/posicionamientoCsgo.jpg);
  width: 65%;
  height: 50vh;
  background-size: cover;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

#imgComandCsgo {
  background-image: url(../images/comandosCsgo.jpg);
  width: 65%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

#imgBuyCsgo {
  background-image: url(../images/menuDeComprasCsgo.jpg);
  width: 65%;
  height: 50vh;
  background-size: cover;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

#imgPractCsgo {
  background-image: url(../images/mapasDePracticaCsgo.jpg);
  width: 65%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
  transition: 1ms;
  transition-delay: 2s;
}

#seccUnoCsgo p {
  text-align: center;
}

#bannerLol {
  width: 100%;
  background-image: url(../images/leagueBanner.jpg);
  background-size: cover;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

#imgLolMap {
  background-image: url(../images/Posiciones-en-League-of-Legends-Wild-Rift.jpg);
  width: 65%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

#imgLolCamp {
  background-image: url(../images/lolCampeones.jpg);
  width: 65%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

#imgLolRol {
  background-image: url(../images/lolRoles.jpg);
  width: 65%;
  height: 50vh;
  background-size: contain;
  background-position: center;
  box-shadow: 0px 0px 15px rgb(110, 169, 218);
}

.textoCar {
  background: rgba(0, 0, 0, 0.479);
  color: white;
}

.notCard {
  text-align: CENTER;
  color: BLACK;
  border: 0px;
  box-shadow: 10px 10px 10px rgb(110, 169, 218);
  border-radius: 0px;
}

.btnNoticias {
  border: 2px solid rgb(110, 169, 218);
  border-radius: 0px;
}

#carouselExampleCaptions {
  box-shadow: 7px 10px 10px rgb(110, 169, 218);
}

.carruselSmokes {
  width: 70vw;
  box-shadow: 7px 10px 10px rgb(110, 169, 218);
}

.accordion {
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-active-bg: #264150;
  --bs-accordion-btn-focus-border-color: #ffffff;
  --bs-accordion-border-color: white;
  font-size: 1.3rem;
}

.botones, .botonSecundario, .botonPrimario {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: 1px solid black;
}
.botones:hover, .botonSecundario:hover, .botonPrimario:hover {
  background-color: black;
  color: white;
}

.botonPrimario {
  color: #280e3c;
  border: 1px solid #280e3c;
}

.botonSecundario {
  color: #3ab5bb;
  border: 1px solid #3ab5bb;
}

#nav {
  position: unset;
  box-shadow: 0px 5px 10px #4089dd;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-style: italic;
}

body nav div .navbar-brand {
  font-size: 2em;
  color: white;
  padding-left: 0.7em;
}

ul li a:hover {
  color: black;
}

#sidebar li a:hover {
  color: black;
}

footer {
  box-shadow: 0px 0px 20px rgb(43, 130, 189);
  padding-top: 1em;
}

footer ul li a {
  transition: 0.2s;
  padding: 10px;
  border-radius: 25%;
}
footer ul li a:hover {
  box-shadow: 0px 0px 15px black;
  filter: none;
}

footer ul:hover a {
  filter: blur(1px);
}

@media (min-width: 640px) {
  #nav {
    display: none;
  }
  #nav2 {
    display: block;
    font-style: italic;
  }
  #nav2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .seccionMapas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .seccionIniciar {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
  }
  p {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
