#bannerCsgo{
    width: 100%;
    background-image: url(../images/bannerCsgo.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px map-get($colores, colorHover);
}

.seccionMapas{
    display: grid;
    width: 90vw;
    gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}


.seccionMapas img{
    width: 100%;
    
    border: 1px solid beige;
    border-radius: 50px;
    &:hover{
        transition: all 0.5s;
        transform: scale(1.1);
        box-shadow: 10px 10px 10px map-get($colores, colorHover);
    }
}

#imgPosCsgo{
    background-image: url(../images/posicionamientoCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    box-shadow: 0px 0px 15px map-get($colores, colorHover);
}

#imgComandCsgo{
    background-image: url(../images/comandosCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px map-get($colores, colorHover);
}
#imgBuyCsgo{
    background-image: url(../images/menuDeComprasCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    box-shadow: 0px 0px 15px map-get($colores, colorHover);
}

#imgPractCsgo{
    background-image: url(../images/mapasDePracticaCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px map-get($colores, colorHover);
    transition: 1ms;
    transition-delay: 2s;
}


#seccUnoCsgo p{
    text-align: center;
}