#bannerCsgo{
    width: 100%;
    background-image: url(../images/bannerCsgo.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px #5cb7aa;
}


#imgPosCsgo{
    background-image: url(../images/posicionamientoCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    box-shadow: 0px 0px 15px #000000;
}

#imgComandCsgo{
    background-image: url(../images/comandosCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px #000000;
}
#imgBuyCsgo{
    background-image: url(../images/menuDeComprasCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    box-shadow: 0px 0px 15px #000000;
}

#imgPractCsgo{
    background-image: url(../images/mapasDePracticaCsgo.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px #000000;
    transition: 1ms;
    transition-delay: 2s;
}


#seccUnoCsgo p{
    text-align: center;
}