.tamañoSeccionTitulo{
    height: 65vh;
}

.seccionIniciar{
    padding-top: 15px;
    gap: 25px;
    justify-content: center;
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 1fr 1fr;
    &Articulos{
        width: 100%;
        background-size: cover;
        transition: all 0.5s;
        &:hover{
            transform: scale(1.1);
            box-shadow: 10px 10px 10px map-get($colores, colorBlack);
             }
    }
}


.cuerpoIndexSegSecc{
    grid-area: seccdosIndex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.divImagenRangos {
    background-image: url(../images/rangos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60vh;
    width: 90%;
    opacity: 0.8;
}


.cuerpoIndexTerSecc{
    grid-area: secctresIndex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divImagenNuevo{
    background-image: url(../images/valorant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 50%;
    border: 2px solid rgb(55, 132, 177);
    animation: movimientoNuevo 4s linear 1s infinite normal;
    box-shadow: 0px 0px 15px map-get($colores , colorHover);
}

@keyframes movimientoNuevo{
    0%{
        left: 0px;
        right: 0px;
    }
    50%{
        margin-left: 100px;
        right: 0px;
    }
    100%{
        left: 0px;
        right: 0px;
    }
}

#nav2{
    display: none;
    background-color: lightblue;
}

