#bannerLol{
    width: 100%;
    background-image: url(../images/leagueBanner.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px map-get($colores, colorHover );
}

#imgLolMap{
    background-image: url(../images/lolMapa.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px map-get($colores, colorHover );
}

#imgLolCamp{
    background-image: url(../images/lolCampeones.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px map-get($colores, colorHover );
}

#imgLolRol{
    background-image: url(../images/lolRoles.jpg);
    width: 65%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px map-get($colores, colorHover );
}

