.textoCar{
    background: rgba(0, 0, 0, 0.479);
    color: white;
}

.notCard {
    text-align: CENTER;
    color: BLACK;
    border: 0px;
    box-shadow: 10px 10px 10px map-get($colores, colorHover );
    border-radius: 0px;
}

.btnNoticias{
    border: 2px solid map-get($colores, colorHover );
    border-radius: 0px;
}