.textoCar{
    background: #000000d9;
    color: white;
}

.notCard {
    text-align: CENTER;
    color: BLACK;
    border: 0px;
    box-shadow: 10px 10px 10px #000000;
    border-radius: 0px;
}

.btnNoticias{
    border: 2px solid black;
    border-radius: 0px;
}