.accordion{
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-active-bg: #264150;
    --bs-accordion-btn-focus-border-color: #ffffff;
    --bs-accordion-border-color: white;
    font-size: 1.3rem;
}