.botones{
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    &:hover{
        background-color:map-get($colores, colorBlack);
        color: white;
    }
}

.botonPrimario{
    @extend .botones;
        color: map-get($colores, colorPrincipal);
        border: 1px solid map-get($colores , colorPrincipal)
    
}

.botonSecundario{
    @extend .botones;
    color: map-get($colores, colorSecundario);
    border: 1px solid map-get($colores, colorSecundario);
}