.botones{
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    &:hover{
        background-color: black;
        color: white;
    }
}

.btnBlanco{
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    &:hover{
        background-color: white;
        color: black;
    }
}